
{% load static %}
{% load material_form %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Restablecimiento de Contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/main.css' %}">
    <!--===============================================================================================-->
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/materialize.min.css' %}" media="screen,projection"/>
</head>

{% block content %}
<body>
<div class="container">
    <h2 id="lT" >Restablecimiento de Contraseña</h2>
    <div class="input-field form-group">
         <p>
             ¿Olvidó su contraseña? </br> Ingrese su dirección de correo electrónico abajo, y usted recibirá un correo con las intrucciones para configurar una contraseña nueva.
        </p>

    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Restablecer Contraseña</button>
    </form>
</div>
</body>
{% endblock %}
</html>


