
{% load static %}
{% load material_form %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/main.css' %}">
    <!--===============================================================================================-->
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/materialize.min.css' %}" media="screen,projection"/>
</head>
<body>
{% block content %}
<div class="container">
    <h1 id="lT">Correo para Restablecer Contraseña enviado</h1>
    <div class="input-field form-group">
    <p>
        Le hemos enviado a su correo electrónico las instrucciones para configurar su contraseña. </br>

        Si usted no recibe el email, por favor asegúrese de haber ingresado la dirección de correo eléctrónico con la cual está registrado, y revise en la carpeta de correos spam.
    </p>
    </div>
</div>
{% endblock %}
</body>
</html>



