
{% load static %}
{% load material_form %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Restablecimiento de Contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/main.css' %}">
    <!--===============================================================================================-->
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/materialize.min.css' %}" media="screen,projection"/>
</head>
{% block content %}
    {% if validlink %}
        <body>
        <div class="container">
        <h1 id="lT"><b>Ingresar nueva contraseña</b></h1>
        <p>

        </p>
        <form method="post">
            {% csrf_token %}
            <ul>
                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una clave utilizada comunmente.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
            </ul>
            <p><br></p>

            {{ form.new.password1.errors }}
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}


            {{ form.new.password2.errors }}
            <label for="id_new_password1">Confirme la contraseña:</label>
            {{ form.new_password2 }}

            <button class="btn btn-primary" type="submit">Restablecer Contraseña</button>
        </form>

    {% else %}

        <h1 id="lT"><b>Enlace Invalido, Ya Caduco</b></h1>

    {% endif %}
</div>
</body>
{%endblock%}
</html>>

