
{% load static %}
{% load material_form %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Restablecimiento de Contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/main.css' %}">
    <!--===============================================================================================-->
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/materialize.min.css' %}" media="screen,projection"/>
</head>
{% block content %}
    <body>
        <div class="container">
            <h1 id="lT"><b>¡Contraseña Restablecida!</b></h1>

                <div class="row">
                      <div class="col-lg-6">
                        <div class="input-group">
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">

                      <span class="input-group-btn">

                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            <div class="center-align">
                <a href="{% url 'login' %}"><img src="{% static 'autenticacion/images/img-02.png' %}" alt="Se cambio exitosamente la contraseña"></a>
            </div>
        </div>
    </body>
{% endblock %}
</html>
