{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SI Planilla</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'planilla/favicon.png' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'planilla/css/bootstrap.min.css' %}">

    <!-- Select2 -->
    <link rel="stylesheet" href={% static 'planilla/select2/select2.css'%}>

    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'planilla/css/bootstrap-datepicker.min.css' %}">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'planilla/css/multi-select.css' %}">

    <link rel="stylesheet" href="{% static 'planilla/css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'planilla/css/dataTable.boostrap.min.css' %}" />
    <!--EStilos Personales-->
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/estilos_personales.css' %}" />

</head>
<body>
<header>
    <nav class="nav">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li class="hide-on-small-only"><a href="{% url 'home' %}">Inicio</a></li>
                <li> <a href="{% url 'cuenta' %}">Cuenta</a></li>
                <li><a href="{% url 'logout' %}"><i class="material-icons right">exit_to_app</i>Cerrar Sesion</a></li>
            </ul>
        </div>
    </nav>
</header>
<aside >
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li><div class="user-view">
            <div class="background">
                <img src="{% static 'planilla/img/fondo_azul.jpg' %}">
            </div>
            <img class="circle" src="{% static 'planilla/img/img-01.png' %}">
            <p href="#name"><span class="white-text name">{{ request.user.first_name}} {{ request.user.last_name}}</span></p>
            <span class="white-text email">{{ request.user.email }}</span>
        </div></li>

        <ul class="collapsible" data-collapsible="accordion">
            {% if perms.planilla.add_empleado or perms.planilla.change_empleado or perms.planilla.delete_empleado%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">contacts</i>Empleados</div>
                    {% if perms.planilla.add_empleado %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_empleado' %}"><center>Agregar Empleado</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_empleado or perms.planilla.delete_empleado %}
                        <div class="collapsible-body"><span><a href="{% url 'empleados' %}"><center>Consultar Empleados</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.auth.add_user or perms.auth.change_user or perms.auth.delete_user%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Usuarios</div>
                    {% if perms.auth.add_user %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_usuario' %}"><center>Agregar Usuario</center></a></span></div>
                    {% endif %}
                    {% if perms.auth.change_user or perms.auth.delete_user%}
                        <div class="collapsible-body"><span><a href="{% url 'usuarios' %}"><center>Consultar Usuarios</center></a></span></div>
                    {% endif %}
                    {% if perms.auth.add_group %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_rol' %}"><center>Agregar Rol</center></a></span></div>
                    {% endif %}
                    {% if perms.auth.change_group or perms.auth.delete_group %}
                        <div class="collapsible-body"><span><a href="{% url 'roles' %}"><center>Consultar Roles</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_profesion or perms.planilla.change_profesion or perms.planilla.delete_profesion %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">recent_actors</i>Profesiones</div>
                    {% if perms.planilla.add_profesion %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_profesion' %}"><center>Agregar Profesiones</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_profesion or perms.planilla.delete_profesion %}
                        <div class="collapsible-body"><span><a href="{% url 'profesiones' %}"><center>Consultar Profesiones</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_descuentopersonal or perms.planilla.change_descuentopersonal or perms.planilla.delete_descuentopersonal %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">play_for_work</i>Descuentos Personales</div>
                    {% if perms.planilla.add_descuentopersonal %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_descuento' %}"><center>Agregar Descuentos</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_descuentopersonal or perms.planilla.delete_descuentopersonal %}
                        <div class="collapsible-body"><span><a href="{% url 'descuentos' %}"><center>Consultar Descuentos</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_cotizacion or perms.planilla.change_cotizacion or perms.planilla.delete_cotizacion %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">money_off</i>Cotizaciones</div>
                    {% if perms.planilla.add_cotizacion %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_cotizacion' %}"><center>Agregar Cotizaciones</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_cotizacion or perms.planilla.delete_cotizacion %}
                        <div class="collapsible-body"><span><a href="{% url 'cotizaciones' %}"><center>Consultar Cotizaciones</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}

        {% if perms.planilla.add_comision or perms.planilla.change_comision or perms.planilla.delete_comision %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">money_off</i>Tabla de Comisiones</div>
                    {% if perms.planilla.add_comision %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_comisiones' %}"><center>Agregar Comision</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_comision or perms.planilla.delete_comision %}
                        <div class="collapsible-body"><span><a href="{% url 'comisiones' %}"><center>Consultar Comisiones</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}

            {% if perms.planilla.add_tipoingreso or perms.planilla.tipoingreso or perms.planilla.delete_tipoingreso %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">money_off</i>Tipos de Ingreso</div>
                    {% if perms.planilla.add_tipoingreso %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_tipoingreso' %}"><center>Agregar Tipo de Ingreso</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_tipoingreso or perms.planilla.delete_tipoingreso %}
                        <div class="collapsible-body"><span><a href="{% url 'ingresos' %}"><center>Consultar Tipos de Ingreso</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}

            {% if perms.planilla.add_estructura_territorial or perms.planilla.delete_estructura_territorial %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">add_location</i>Estructura Territorial</div>
                    {% if perms.planilla.add_estructura_territorial or perms.planilla.delete_estructura_territorial %}
                        <div class="collapsible-body"><span><a href="{% url 'estructuras' %}"><center> Gestionar Estructura Territorial</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_empresa or perms.planilla.change_empresa or perms.planilla.delete_empresa %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">business</i>Empresa</div>
                    {% if perms.planilla.change_empresa %}
                        <div class="collapsible-body"><span><a href="{% url 'actualizar_empresa' %}"><center>Cambiar informacion</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_planilla or perms.planilla.change_planilla or perms.planilla.delete_planilla %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">assignment</i>Planilla</div>
                    {% if perms.planilla.change_planilla %}
                        <div class="collapsible-body"><span><a href="{% url 'ver_planilla' %}"><center>Elaborar Planilla</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.add_calendario %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_calendario' %}"><center>Agregar Fechas de Pago</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_calendario %}
                        <div class="collapsible-body"><span><a href="{% url 'calendarios_anuales' %}"><center>Ver Calendarios</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_estadocivil or perms.planilla.change_estadocivil or perms.planilla.delete_estadocivil %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">loyalty</i>Estados Civiles</div>
                    {% if perms.planilla.add_estadocivil %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_estadocivil' %}"><center>Agregar Estado Civil</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_estadocivil or perms.planilla.delete_estadocivil %}
                        <div class="collapsible-body"><span><a href="{% url 'estadosciviles' %}"><center>Consultar Estados Civiles</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_unidadorganizacional or perms.planilla.change_unidadorganizacional or perms.planilla.delete_unidadorganizacional %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">dashboard</i>Unidades Organizacionales</div>
                    {% if perms.planilla.add_unidadorganizacional %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_unidad_organizacional' %}"><center>Agregar Unidad Organizacional</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_unidadorganizacional or perms.planilla.delete_unidadorganizacional %}
                        <div class="collapsible-body"><span><a href="{% url 'unidades' %}"><center>Consultar Unidades Organizacionales</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_renta or perms.planilla.change_renta or perms.planilla.delete_renta %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">attach_money</i>Tabla de Renta</div>
                    {% if perms.planilla.add_renta %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_escala' %}"><center>Agregar Tramo de renta</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_renta or perms.planilla.delete_renta %}
                        <div class="collapsible-body"><span><a href="{% url 'escalas' %}"><center>Consultar Tramos de Renta</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.planilla.add_presupuesto or perms.planilla.change_presupuesto or perms.planilla.delete_presupuesto %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">account_balance</i>Presupuestos</div>
                    {% if perms.planilla.add_presupuesto %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_presupuesto' %}"><center>Agregar Presupuesto</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_presupuesto or perms.planilla.delete_presupuesto %}
                        <div class="collapsible-body"><span><a href="{% url 'presupuestos' %}"><center>Consultar Presupuestos</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
        {% if perms.planilla.add_genero or perms.planilla.change_genero or perms.planilla.delete_genero %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">perm_identity</i>Generos</div>
                    {% if perms.planilla.add_genero %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_genero' %}"><center>Agregar Generos</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_genero or perms.planilla.delete_genero %}
                        <div class="collapsible-body"><span><a href="{% url 'generos' %}"><center>Consultar Generos</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
        {% if perms.planilla.add_puesto or perms.planilla.change_puesto or perms.planilla.delete_puesto %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">supervised_user_circle</i>Puestos de Trabajo</div>
                    {% if perms.planilla.add_puesto %}
                        <div class="collapsible-body"><span><a href="{% url 'agregar_puesto' %}"><center>Agregar Puesto de Trabajo</center></a></span></div>
                    {% endif %}
                    {% if perms.planilla.change_puesto or perms.planilla.delete_puesto %}
                        <div class="collapsible-body"><span><a href="{% url 'puestos' %}"><center>Consultar Puestos de Trabajo</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </ul>
</aside>
<main>
    <div class="container">
        {% block content %}
            <div class="center-align">
                <h2> Sistema de Planilla </h2>
                <img src="{% static 'planilla/img/agility.png' %}" alt="IMG" >
            </div>
             <div class="center-align">
                <img src="{% static 'planilla/img/control.png' %}" alt="IMG" >
            </div>
        {%endblock%}
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="{% static 'planilla/js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'planilla/js/jquery.mask.js' %}"></script>
<script src="{% static 'planilla/js/materialize.min.js' %}"></script>
<script src="{% static 'planilla/js/sweetalert.min.js' %}"></script>
<script src="{% static 'planilla/js/bootstrap.min.js' %}"></script>
<script src="{% static 'planilla/select2/select2.js' %}"></script>
<script src="{% static 'planilla/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'planilla/js/bootstrap-datepicker.es.min.js' %}"></script>
<script src="{% static 'planilla/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'planilla/js/dataTables.boostrap.min.js' %}"></script>
<script src="{% static 'planilla/js/table.js' %}"></script>
{% if mensaje %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ mensaje }}', classes: 'rounded'}); })();
    </script>
{% endif %}
{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            (function () { M.toast({html: '{{ message.message }}', classes: 'rounded'}); })();
        </script>
    {% endfor %}
{% endif %}
<script type="text/javascript">
    (function () { M.AutoInit(); })();
</script>
{% block js %}
{% endblock %}
</body>
</html>