{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}

    <form action="" method="POST" class="viewform">
        {% csrf_token %}
        {% form form=form %}
            {% part form.desde prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.hasta prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.porcentaje prefix %}<i class="material-icons prefix">label outline</i>{% endpart %}
            {% part form.exceso prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.cuota_fija prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}

        {% endform %}
        {% if choques %}
            <input type="text" class="hidden" name="choques">
        {% endif %}
        {% if actualizar == True %}
            <button class="btn btn-primary"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'estadosciviles' %}">Cancelar<i class="material-icons right">cancel</i></a>
        {% else %}
            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        {% endif %}

    </form>


{% endblock %}
{% block js %}
    {% if choques %}
        <script type="text/javascript">
            (function () { swal({   title: "Esta a punto de Eliminar los Siguientes Tramos:\n ",
                    text: "{% for choque in choques %}{{ choque }} \n{% endfor %} \n ¿Está seguro que desea continuar?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, deseo continuar",
                    cancelButtonText: "No, no estoy seguro",
                    closeOnConfirm: false,
                    closeOnCancel: false },
                function(isConfirm){
                    if (isConfirm)
                    {
                        window.location.href = '{% url 'eliminar_escala' pk=pk hasta=hasta%}';
                    }
                    else {
                        swal("Cancelar", "¡Se canceló la operación!", "error");
                    }}); })();
        </script>
    {% endif %}
{% endblock %}