{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <form action="" method="POST" class="viewform">
        {% csrf_token %}
        {% form form=form %}
            {% part form.primer_nombre prefix %}<i class="material-icons prefix">person</i>{% endpart %}
            {% part form.segundo_nombre prefix %}<i class="material-icons prefix">person</i>{% endpart %}
            {% part form.apellido_paterno prefix %}<i class="material-icons prefix">person</i>{% endpart %}
            {% part form.apellido_materno prefix %}<i class="material-icons prefix">person</i>{% endpart %}
            {% part form.apellido_casada prefix %}<i class="material-icons prefix">person</i>{% endpart %}
            {% part form.dui prefix %}<i class="material-icons prefix">portrait</i>{% endpart %}
            {% part form.nit prefix %}<i class="material-icons prefix">portrait</i>{% endpart %}
            {% part form.nup prefix %}<i class="material-icons prefix">portrait</i>{% endpart %}
            {% part form.isss prefix %}<i class="material-icons prefix">local_hospital</i>{% endpart %}
            {% part form.pasaporte prefix %}<i class="material-icons prefix">local_airport</i>{% endpart %}
            {% part form.fecha_nacimiento prefix %}<i class="material-icons prefix">cake</i>{% endpart %}
            {% attr form.fecha_nacimiento 'group' class append %}fecha_nacimiento{% endattr %}
            {% part form.fecha_ingreso prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
            {% attr form.fecha_ingreso 'group' class append %}fecha_ingreso{% endattr %}
            {% part form.telefono prefix %}<i class="material-icons prefix">phone</i>{% endpart %}
            {% part form.email_personal prefix %}<i class="material-icons prefix">email</i>{% endpart %}
            {% part form.email_institucional prefix %}<i class="material-icons prefix">email</i>{% endpart %}
            {% part form.direccion prefix %}<i class="material-icons prefix">location_on</i>{% endpart %}
            {% part form.domicilio prefix %}<i class="material-icons prefix">location_on</i>{% endpart %}
            {% part form.genero prefix %}<i class="material-icons prefix">people</i>{% endpart %}
            {% part form.estado_civil prefix %}<i class="material-icons prefix">content_paste</i>{% endpart %}
            {% part form.jefe prefix %}<i class="material-icons prefix">person_outline</i>{% endpart %}
            {% part form.unidad_organizacional prefix %}<i class="material-icons prefix">group_work</i>{% endpart %}
            {% part form.puesto prefix %}<i class="material-icons prefix">work</i>{% endpart %}
            {% part form.profesion prefix %}<i class="material-icons prefix">school</i>{% endpart %}
            {% part form.salario_fijo prefix %}<i class="material-icons prefix">school</i>{% endpart %}
            {% part form.salario prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
        {% endform %}
        {% if actualizar == True %}
            <button class="btn btn-primary"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'empleados' %}">Cancelar<i class="material-icons right">cancel</i></a>
        {% else %}
            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        {% endif %}
    </form>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('input[name="dui"]').mask('00000000-0');
        $('input[name="nit"]').mask('0000-000000-000-0');
        $('input[name="telefono"]').mask('0000-0000');
        $('input[name="nup"]').mask('000000000000');
        $('input[name="isss"]').mask('0000000');
        $('input[name="fecha_nacimiento"], input[name="fecha_ingreso"]').mask('00/00/0000');
    </script>
    {% for fecha in fechas %}
        <script type="text/javascript">
            $('input[name="{{ fecha }}"]').dblclick(function() {
                $('input[name="{{ fecha }}"]').datepicker('show');
            });
            $('input[name="{{ fecha }}"]').click(function() {
                $('input[name="{{ fecha }}"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="{{ fecha }}"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.{{ fecha }}"
            });
        </script>
    {% endfor %}
{% endblock %}