{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static "planilla/js/jquery-2.1.1.js" %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("input[name='datepicker']").datepicker({
                format: "yyyy",
                startView: 2,
                maxViewMode: 2,
                minViewMode: 2,
                language: "es",
                autoclose: true
            });

        });

        $("input[name='datepicker']").dblclick(function() {
            $("input[name='datepicker']").datepicker('show');
        });

        $("input[name='datepicker']").click(function() {
            $("input[name='datepicker']").datepicker('hide');
        });


    </script>
    <script type="text/javascript" src="{% static "planilla/js/calendario.js" %}"></script>
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <h5>Ingreso de nuevo calendario</h5>
            </div>
        </div>
    </div>
    <div class="cols10">
        <h6>Seleccione el período de pago</h6>
        <div class="row">
            <div class="col s6">
                <input readonly data-form-control="date" id="periodo" onchange="reiniciar();" name="datepicker" type="text" maxlength="4">
                <label for="periodo">Año del calendario</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <select id="opciones" class="browser-default" onchange="crearForm();">
                    <option value="0">-----</option>
                    <option value="1">Mensual</option>
                    <option value="2">Quincenal</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col s12" id="container">
        <form action="" method="POST" id="formCal">
            {% csrf_token %}
        </form>
    </div>

{% endblock %}
