{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <form action="" method="POST" class="viewform">
        {% csrf_token %}
        {% form form=form %}
            {% part form.monto_inicial prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.planilla_anual prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
            {% part form.unidad_organizacional prefix %}<i class="material-icons prefix">dashboard</i>{% endpart %}
        {% endform %}
        {% if actualizar == True %}
            <button class="btn btn-primary"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'presupuestos' %}">Cancelar<i class="material-icons right">cancel</i></a>
        {% else %}
            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        {% endif %}
    </form>
{% endblock %}