{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <form action="" method="POST" class="viewform">
        {% csrf_token %}
        {% form form=form %}
            {% part form.desde prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.hasta prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.porcentaje prefix %}<i class="material-icons prefix">label outline</i>{% endpart %}
            {% part form.exceso prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% part form.cuota_fija prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
        {% endform %}

        {% if actualizar == True %}
            <button class="btn btn-primary"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'estadosciviles' %}">Cancelar<i class="material-icons right">cancel</i></a>
        {% else %}
            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        {% endif %}

    </form>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_escala-desde").click(function(event) {
            M.toast({html:'Valor no editable', classes:'rounded'});
            });
        });

        (function () {
            e = document.getElementById("id_escala-tipo");
            if (e.options[e.selectedIndex].value == 1){
                desde = {{ desde.0 }};
                {% if exceso.0 is not None %}exceso = {{ exceso.0 }};
                    {% else %}exceso = 0.00;
                {% endif %}

            }else{
                desde = {{ desde.1 }};
                {% if exceso.1 is not None %}exceso = {{ exceso.1 }};
                    {% else %}exceso = 0.00;
                {% endif %}
            }
            document.getElementById("id_escala-desde").value = desde;
            document.getElementById("id_escala-exceso").value = exceso;
        })();
    </script>
    <script type="text/javascript">
        $("#id_escala-tipo").change(function() {
            e = document.getElementById("id_escala-tipo");
            if (e.options[e.selectedIndex].value == 1){
                desde = {{ desde.0 }};
                {% if exceso.0 is not None %}exceso = {{ exceso.0 }};
                    {% else %}exceso = 0.00;
                {% endif %}

            }else{
                desde = {{ desde.1 }};
                {% if exceso.1 is not None %}exceso = {{ exceso.1 }};
                    {% else %}exceso = 0.00;
                {% endif %}
            }
            document.getElementById("id_escala-desde").value = desde;
            document.getElementById("id_escala-exceso").value = exceso;
        });
    </script>
{% endblock %}