{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Calendarios:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Año contable</th>
                <th>Fecha de Pago</th>
                <th>¿Proximo a pagar?</th>
            </tr>
            </thead>
            <tbody>
            {% for calendario in calendarios %}
                <tr>
                        <td>{{calendario.id}}</td>

                        <td>
                            {{ calendario.anio }}
                        </td>
                        <td>{{ calendario.fecha_pago }}</td>

                        {% if calendario.activo %}
                            <td><a class="btn btn-active waves-effect waves-light" onclick="Eliminar{{ profesion.id }}()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not calendario.activo %}
                            <td><a class="btn btn-danger waves-effect waves-light" onclick="Eliminar{{ profesion.id }}()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for calendario in calendarios %}
        <script type="text/javascript">
            function Eliminar{{ calendario.id }}(){
                swal({   title: "¡Se modificará el estado del calendario: {{ calendario.id }}!",
                        text: "¿Está seguro que desea continuar?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, deseo continuar",
                        cancelButtonText: "No, no estoy seguro",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm)
                        {
                            window.location.href = '';
                        }
                        else {
                            swal("Cancelar", "¡Se canceló la operación!", "error");
                        } });
            }
        </script>
    {% endfor %}
{%endblock%}
