{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Comisiones:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Límite Inferior</th>
                <th>Límite Superior</th>
                <th>Porcentaje</th>
                <th>Gestionar</th>
            </tr>
            </thead>
            <tbody>
            {% for comision in comisiones %}
                <tr>
                    <td>{{comision.lim_inferior}}</td>
                    <td>{{comision.lim_superior}}</td>
                    <td>{{comision.porcentaje}}</td>
                    <td>
                        {% if perms.planilla.change_comision%}
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_comisiones' pk=comision.id %}"><i class="material-icons">edit</i></a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{%endblock%}
