{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Empleados:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Nombre del empleado</th>
                <th>DUI</th>
                <th>Jefe</th>
                <th>Puesto</th>
                <th>Subordinados</th>
                <th>Gestionar</th>
                <th>¿Activo?</th>
            </tr>
            </thead>
            <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{empleado.primer_nombre}}</td>
                    <td>{{empleado.dui}}</td>
                    <td>{{empleado.jefe.primer_nombre}}</td>
                    <td>{{empleado.puesto.nombre}}</td>
                    <td> <a class="btn btn-primary waves-effect waves-light" href="{% url 'subordinados' id=empleado.id %}">
                                <i class="material-icons">group</i>
                            </a> </td>
                    {% if perms.planilla.change_empleado%}
                        <td>
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_empleado' pk=empleado.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    {% endif %}
                    {% if perms.planilla.delete_empleado%}
                        {% if empleado.activo %}
                            <td><a class="btn btn-active waves-effect waves-light" onclick="Eliminar{{ empleado.id }}()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not empleado.activo %}
                            <td><a class="btn btn-danger waves-effect waves-light" onclick="Eliminar{{ empleado.id }}()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for empleado in empleados %}
        <script type="text/javascript">
            function Eliminar{{ empleado.id }}(){
                swal({   title: "¡Se modificará el estado del empleado: {{ empleado.nombre }}!",
                        text: "¿Está seguro que desea continuar?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, deseo continuar",
                        cancelButtonText: "No, no estoy seguro",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm)
                        {
                            window.location.href = '{% url 'desactivar_empleado' pk=empleado.id %}';
                        }
                        else {
                            swal("Cancelar", "¡Se canceló la operación!", "error");
                        } });
            }
        </script>
    {% endfor %}
{%endblock%}
