{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <form action="" method="POST" class="viewform">
        {% csrf_token %}
        {% form form=form %}
            {% part form.nombre prefix %}<i class="material-icons prefix">business</i>{% endpart %}
            {% part form.nit prefix %}<i class="material-icons prefix">perm_identity</i>{% endpart %}
            {% part form.nic prefix %}<i class="material-icons prefix">perm_identity</i>{% endpart %}
            {% part form.telefono prefix %}<i class="material-icons prefix">phone</i>{% endpart %}
            {% part form.webpage prefix %}<i class="material-icons prefix">webpage</i>{% endpart %}
            {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
        {% endform %}
        {% if actualizar == True %}
            <button class="btn btn-primary"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url '/' %}">Cancelar<i class="material-icons right">cancel</i></a>
        {% else %}
            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        {% endif %}
    </form>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('input[name="nit"]').mask('0000-000000-000-0');
        $('input[name="nic"]').mask('000000000000');
        $('input[name="telefono"]').mask('0000-0000');
    </script>
{% endblock %}