{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Tramos de Renta:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Tipo de Pago</th>
                <th>Tramo</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>% a Aplicar</th>
                <th>Sobre el Exceso de</th>
                <th>Mas Cuota Fija de</th>
                <th>Gestionar</th>
            </tr>
            </thead>
            <tbody>
            {% for escala in escalas_15 %}
                <tr>
                    <td>Quincenal</td>
                    <td>{{forloop.counter}}</td>
                    <td>$ {{escala.desde|stringformat:".2f"}}</td>
                    <td>$ {{escala.hasta|stringformat:".2f"}}</td>
                    {% if escala.porcentaje == None %}
                    <td>-----</td>
                    {% else %}
                        <td>{{escala.porcentaje|stringformat:".2f"}} %</td>
                    {% endif %}
                    {% if escala.exceso == None %}
                    <td>-----</td>
                    {% else %}
                        <td>$ {{escala.exceso|stringformat:".2f"}}</td>
                    {% endif %}
                    {% if escala.cuota_fija == None %}
                    <td>-----</td>
                    {% else %}
                        <td>$ {{escala.cuota_fija|stringformat:".2f"}}</td>
                    {% endif %}
                    {% if perms.planilla.change_renta%}
                        <td>
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_escala' pk=escala.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% for escala in escalas_30 %}
                <tr>
                    <td>Mensual</td>
                    <td>{{forloop.counter}}</td>
                    <td>$ {{escala.desde|stringformat:".2f"}}</td>
                    <td>$ {{escala.hasta|stringformat:".2f"}}</td>
                    {% if escala.porcentaje == None %}
                    <td>-----</td>
                    {% else %}
                        <td>{{escala.porcentaje|stringformat:".2f"}} %</td>
                    {% endif %}
                    {% if escala.exceso == None %}
                    <td>-----</td>
                    {% else %}
                        <td>$ {{escala.exceso|stringformat:".2f"}}</td>
                    {% endif %}
                    {% if escala.cuota_fija == None %}
                    <td>-----</td>
                    {% else %}
                        <td>$ {{escala.cuota_fija|stringformat:".2f"}}</td>
                    {% endif %}
                    {% if perms.planilla.change_renta%}
                        <td>
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_escala' pk=escala.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{%endblock%}