{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Estados Civiles:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Nombre del Estado Civil</th>
                <th>Gestionar</th>
                <th>¿Activo?</th>
            </tr>
            </thead>
            <tbody>
            {% for estado in estados %}
                <tr>
                    <td>{{estado.nombre}}</td>
                    {% if perms.planilla.change_estadocivil%}
                        <td>
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_estadocivil' pk=estado.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    {% endif %}
                    {% if perms.planilla.delete_estadocivil%}
                        {% if estado.activo %}
                            <td><a class="btn btn-active waves-effect waves-light" onclick="Eliminar{{ estado.id }}()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not estado.activo %}
                            <td><a class="btn btn-danger waves-effect waves-light" onclick="Eliminar{{ estado.id }}()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                        {% endif %}


                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for estado in estados %}
        <script type="text/javascript">
            function Eliminar{{ estado.id }}(){
                swal({   title: "¡Se Modificará la Condición del Estado Civil {{ estado.nombre }}!",
                        text: "¿Está seguro que desea continuar?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, deseo continuar",
                        cancelButtonText: "No, no estoy seguro",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm)
                        {
                            window.location.href = '{% url 'desactivar_estadocivil' pk=estado.id %}';
                        }
                        else {
                            swal("Cancelar", "¡Se canceló la operación!", "error");
                        } });
            }
        </script>
    {% endfor %}
{%endblock%}