{% extends 'base.html' %}
{% load static %}
{% block content %}

    <script src="{% static 'planilla/js/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static "planilla/js/estructura.js" %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var token = $("[name=csrfmiddlewaretoken]").val();

            //Asignar el token de seguridad de django a la cabecera de las request de ajax
            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                }
            });
        });
    </script>
    {% csrf_token %}
    <div class="col s12">
        <div class="row">
        <h5>Gestión de estrucutra territorial</h5>
        </div>

        <div class="row">
            <div class="col s4">
                <select id="opciones" onchange="crearForm();">
                <option value="0">Seleccione una acción</option>
                <option value="1">Manejo de países</option>
                <option value="2">Manejo de departamentos</option>
                <option value="3">Manejo de municipios</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col s12" id="container">
    </div>

{% endblock %}
