{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boleta de Pago</title>
    <link rel="stylesheet" href="{% static 'planilla/css/bootstrap-glyphicons.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
</head>
<body style="padding: 50px">
{% for detalle in detalle_list %}
    <div {% if forloop.counter != 1 %}style="page-break-before: always;"{% endif %}>
        <h1 style="font-family:Roboto; color: #12618b"><center>Boleta de Pagos</center></h1>
        <p>Empresa: <b>{{ empresa.nombre }}</b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; No. NIT: <b>{{ empresa.nit }}</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; No. NIC: <b>{{ empresa.nic }}</b></p>
        <p>Telefono: <b>{{ empresa.telefono }}</b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; E-mail: <b>{{ empresa.email }}</b></p></br>
        <p>Nombre del Empleado: <b>{{ detalle.detalle.nombre }}</b></p>
        <p>No. DUI: <b>{{ detalle.detalle.dui }}</b></p>
        <p>Cargo: <b>{{ detalle.detalle.cargo }}</b></p>
        <p>Departamento: <b>{{ detalle.detalle.departamento_nombre }}</b></p>
        <p>Salario Base: <b>${{ detalle.detalle.salario_base }}</b></p>

        <table border="1" style="margin: 0px auto; width: 100%; text-align: center;">
            <thead>
            <tr>
                <th style="background-color:#204d74; color: white">Ingreso</th>
                <th style="background-color:#204d74; color: white">Tipo</th>
                <th style="background-color:#204d74; color: white">Monto ($)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Comision</td>
                <td>Gravado</td>
                <td>${{ detalle.detalle.comision }}</td>
            </tr>
            {% for monto_ingreso in detalle.montos_ingreso %}
                <tr>
                    <td>{{ monto_ingreso.tipo_ingreso }}</td>
                    <td>{% if monto_ingreso.tipo_ingreso.gravado == '1' %}Gravado{% else %}Exento{% endif %}</td>
                    <td>${{ monto_ingreso.monto  }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <table border="1" style="margin: 0px auto; width: 100%; text-align: center;">
            <thead>
            <tr>
                <th style="background-color:#204d74; color: white">Retencion</th>
                <th style="background-color:#204d74; color: white">Porcentaje (%)</th>
                <th style="background-color:#204d74; color: white">Monto ($)</th>
            </tr>
            </thead>
            <tbody>
            {% for monto_cotizacion in detalle.montos_cotizacion %}
                <tr>
                    <td>{{ monto_cotizacion.cotizacion }}</td>
                    <td>{{ monto_cotizacion.cotizacion.porcentaje }}</td>
                    <td>${{ monto_cotizacion.monto }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Renta</td>
                <td>-</td>
                <td>${{ detalle.detalle.renta }}</td>
            </tr>
            </tbody>
        </table>
        <br>

        <table border="1" style="margin: 0px auto; width: 100%; text-align: center;">
            <thead>
            <tr>
                <th style="background-color:#204d74; color: white">Descuento</th>
                <th style="background-color:#204d74; color: white">Monto ($)</th>
            </tr>
            </thead>
            <tbody>
            {% for monto_descuento in detalle.montos_descuento%}
                <tr>
                    <td>{{ monto_descuento.descuento_personal }}</td>
                    <td>${{ monto_descuento.monto }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <p>Total Ingresos: <b>${{ detalle.detalle.total_ingresos }}</b></p>
        <p>Total Retenciones: <b>${{ detalle.detalle.total_retenciones }}</b></p>
        <p>Total Descuentos: <b>${{ detalle.detalle.total_descuentos }}</b></p>
        <p>Total a pagar: <b>${{ detalle.detalle.total_pagar }}</b></p>
    </div>
{% endfor %}
</body>
</html>