{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Tipos de Ingreso:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo de Ingreso</th>
                <th>Gestionar</th>
                <th>¿Activo?</th>
            </tr>
            </thead>
            <tbody>
            {% for ingreso in ingresos %}
                <tr>
                    <td>{{ingreso}}</td>
                    <td>{% if ingreso.gravado == '1' %}Gravado{% else %}Exento{% endif %}</td>
                    {% if perms.planilla.change_tipoingreso%}
                        <td><a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_tipoingreso' pk=ingreso.id %}"><i class="material-icons">edit</i></a></td>
                    {% endif %}
                    {% if perms.planilla.delete_tipoingreso%}
                        {% if ingreso.activo %}
                            <td><a class="btn btn-active waves-effect waves-light" onclick="Eliminar{{ ingreso.id }}()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% else %}
                            <td><a class="btn btn-danger waves-effect waves-light" onclick="Eliminar{{ ingreso.id }}()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for ingreso in ingresos %}
        <script type="text/javascript">
            function Eliminar{{ ingreso.id }}(){
                swal({   title: "¡Se modificará el estado del tipo de ingreso: {{ ingreso.nombre }}!",
                        text: "¿Está seguro que desea continuar?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, deseo continuar",
                        cancelButtonText: "No, no estoy seguro",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm)
                        {
                            window.location.href = '{% url 'desactivar_tipoingreso' pk=ingreso.id %}';
                        }
                        else {
                            swal("Cancelar", "¡Se canceló la operación!", "error");
                        } });
            }
        </script>
    {% endfor %}
{%endblock%}