{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'planilla/js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'planilla/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'planilla/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'planilla/js/materialize.js' %}"></script>
    <script type="text/javascript">
        var id;
        var codigo;
        var todosEmpleados = "{{ empleados|safe }}";
        var todosComisiones = "{{ comisiones|safe }}";
        var todosIngresos = "{{ ingresos|safe }}";
        var todosDescuentos = "{{ descuentos|safe }}";
        var todosCotizaciones = "{{ cotizaciones|safe }}";

        var expFormato = /^[0-9]{1,8}\.?(\.[0-9]{1,2}?)?$/;

        todosEmpleados = todosEmpleados.split(">").join("");
        todosEmpleados = todosEmpleados.split("<").join("");
        todosEmpleados = todosEmpleados.substring(9);
        todosEmpleados = todosEmpleados.replace(new RegExp("Decimal","g"),"")
        todosEmpleados = todosEmpleados.replace(new RegExp("True","g"),"true")
        todosEmpleados = todosEmpleados.replace(new RegExp("False","g"),"false")
        todosEmpleados = todosEmpleados.split("(").join("");
        todosEmpleados = todosEmpleados.split(")").join("");
        todosEmpleados = todosEmpleados.split("'").join('"');
        todosEmpleados = todosEmpleados.replace(new RegExp('None','g'),'"0"');

        todosComisiones = todosComisiones.split(">").join("");
        todosComisiones = todosComisiones.split("<").join("");
        todosComisiones = todosComisiones.substring(9);
        todosComisiones = todosComisiones.replace(new RegExp("Decimal","g"),"")
        todosComisiones = todosComisiones.replace(new RegExp("True","g"),"true")
        todosComisiones = todosComisiones.replace(new RegExp("False","g"),"false")
        todosComisiones = todosComisiones.split("(").join("");
        todosComisiones = todosComisiones.split(")").join("");
        todosComisiones = todosComisiones.split("'").join('"');

        todosIngresos = todosIngresos.split(">").join("");
        todosIngresos = todosIngresos.split("<").join("");
        todosIngresos = todosIngresos.substring(9);
        todosIngresos = todosIngresos.replace(new RegExp("Decimal","g"),"")
        todosIngresos = todosIngresos.replace(new RegExp("True","g"),"true")
        todosIngresos = todosIngresos.replace(new RegExp("False","g"),"false")
        todosIngresos = todosIngresos.split("(").join("");
        todosIngresos = todosIngresos.split(")").join("");
        todosIngresos = todosIngresos.split("'").join('"');

        todosDescuentos = todosDescuentos.split(">").join("");
        todosDescuentos = todosDescuentos.split("<").join("");
        todosDescuentos = todosDescuentos.substring(9);
        todosDescuentos = todosDescuentos.replace(new RegExp("Decimal","g"),"")
        todosDescuentos = todosDescuentos.replace(new RegExp("True","g"),"true")
        todosDescuentos = todosDescuentos.replace(new RegExp("False","g"),"false")
        todosDescuentos = todosDescuentos.split("(").join("");
        todosDescuentos = todosDescuentos.split(")").join("");
        todosDescuentos = todosDescuentos.split("'").join('"');

        todosCotizaciones = todosCotizaciones.split(">").join("");
        todosCotizaciones = todosCotizaciones.split("<").join("");
        todosCotizaciones = todosCotizaciones.substring(9);
        todosCotizaciones = todosCotizaciones.replace(new RegExp("Decimal","g"),"")
        todosCotizaciones = todosCotizaciones.replace(new RegExp("True","g"),"true")
        todosCotizaciones = todosCotizaciones.replace(new RegExp("False","g"),"false")
        todosCotizaciones = todosCotizaciones.split("(").join("");
        todosCotizaciones = todosCotizaciones.split(")").join("");
        todosCotizaciones = todosCotizaciones.split("'").join('"');

        todosEmpleados = JSON.parse(todosEmpleados);
        todosDescuentos = JSON.parse(todosDescuentos);
        todosIngresos = JSON.parse(todosIngresos);
        todosComisiones = JSON.parse(todosComisiones);
        todosCotizaciones = JSON.parse(todosCotizaciones);

        console.log(todosEmpleados);
        console.log(todosComisiones);
        console.log(todosDescuentos);
        console.log(todosIngresos);
        console.log(todosCotizaciones);

        $(document).ready(function(){
            $('.trigger-modal').modal();

            var token = $("[name=csrfmiddlewaretoken]").val();

            //Asignar el token de seguridad de django a la cabecera de las request de ajax
            $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                }
            });

            $("#dias").keyup(function() {
                var dias = parseInt($(this).val()) | 0;
                var saldias = parseFloat(todosEmpleados[id].salario_base) / 30;
                var tmp = (dias * saldias).toFixed(2);
                ($("input[id='dias inasistidos']").val(tmp));
            });

            $("#dias").change(function() {
                var dias = parseInt($(this).val()) | 0;
                var saldias = parseFloat(todosEmpleados[id].salario_base) / 30;
                var tmp = (dias * saldias).toFixed(2);
                ($("input[id='dias inasistidos']").val(tmp));
            });

            $("#dias").keydown(function(event) {
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                var val = (parseInt($("#dias").val() | 0) + key);
                if(val > 31 || val < 0 || (event.keyCode == 189)) {
                    event.preventDefault();
                    return false;
                }
            });

            $("#tplanilla").DataTable({
                paging: true,
                pageSize: 10,
                sorting: false,
                language: {
                    decimal: ".",
                    zeroRecords: "Sin resultados de búsqueda",
                    search: "Buscar: ",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando _PAGE_ de _PAGES_",
                    infoEmpty: "Sin información para mostrar",
                    infoFiltered: "(Filtrado de _MAX_)",
                    paginate: {
                        "first":"Primera",
                        "last":"Último",
                        "previous":"Anterior",
                        "next":"Siguiente"
                    }
                }
            });
        });
    </script>
    <script src="{% static 'planilla/js/planilla.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/planilla.css' %}" />
    {% csrf_token %}
    <div class="row">
        <div class="offset-s4">
            <div class="center-align">
                <h4>Planilla general de empleados</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="consulta-tabla">
            <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="tplanilla">
                <thead>
                    <tr>
                        <th>Código empleado</th>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Salario base</th>
                        <th>Comisiones</th>
                        <th>Ingresos</th>
                        <th>Descuentos</th>
                        <th>Retenciones</th>
                        <th>Total neto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in empleados %}
                        <tr id="{{ forloop.counter0 }}">
                            <td><p name="codigo">{{ emp.id }}</p></td>
                            <td>{{ emp.nombre }}</td>
                            <td>{{ emp.cargo }}</td>
                            <td><p name="salario">${{ emp.salario_base }}</p></td>
                            <td><p name="comision">${{ emp.comision }}</p><button class="btn modal-trigger" onclick="mostrarComisiones(this);" href="#modalComisiones">Modificar</button></td>
                            <td><p name="ingreso">${{ emp.total_ingresos }}</p><button class="btn modal-trigger" onclick="mostrarIngresos(this);" href="#modalIngresos">Modificar</button></td>
                            <td><p name="descuento">${{ emp.total_descuentos }}</p><button class="btn modal-trigger" onclick="mostrarDescuentos(this);" href="#modalDescuentos">Modificar</button></td>
                            <td><p name="retencion">${{ emp.total_retenciones }}</p><button class="btn modal-trigger" onclick="mostrarRetenciones(this);" href="#modalRetenciones">Ver detalles</button></td>
                            <td><p name="total">${{ emp.total_pagar }}</p></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col s3">
                    <a class="waves-light waves-effect btn" onclick="cerrarPlanilla();">Cerrar planilla</a>
                </div>
                <div class="col s3">
                    <a href="{% url 'imprimir_boleta' %}" class="waves-light waves-effect btn" >Imprimir Boletas</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de descuentos -->
    <div class="modal modal-fixed-footer" id="modalDescuentos" materialize="modal" style="height: 55% !important;">
        <div class="modal-content" style="height: 80% !important;">
            <div class="row">
                <div class="col s3">
                        <label>Días inasistidos</label>
                        <input class="target" id="dias" type="number" max="30" min="0">
                </div>
                <div class="col s3">
                    <input type="text" id="dias inasistidos" class="target" readonly>
                    <label for="dias inasistidos"></label>
                </div>
            </div>
            {% for d in descuentos %}
                {% if d.activo == True and d.nombre != "dias inasistidos" %}
                    <div class="row">
                    <div class="col s6">
                        <label for="{{ d.nombre }}">{{ d.nombre }}</label>
                        <input class="target" id="{{ d.nombre }}" name="descs" type="text">
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-light btn" onclick="guardarDescuentos();">Guardar cambios</a>
            <a class="btn modal-close">Cerrar</a>
        </div>
    </div>
    <!-- Fin de modal de descuentos -->
        <!-- Modal de ingresos -->
    <div class="modal modal-fixed-footer" id="modalIngresos" materialize="modal">
        <div class="modal-content">
            {% for tipos in ingresos %}
                {% if tipos.activo == True %}
                    <div class="row">
                    <div class="col s6">
                        <label for="{{ tipos.nombre }}">{{ tipos.nombre }}</label>
                        <input class="target" id="{{ tipos.nombre }}" name="ing" class="val-ing" type="text">
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-light btn" onclick="guardarIngresos();">Guardar cambios</a>
            <a class="btn modal-close">Cerrar</a>
        </div>
    </div>
    <!-- Fin de modal de ingresos -->
    <!-- Modal de comisiones -->
    <div class="modal modal-fixed-footer" id="modalComisiones">
        <div class="modal-content">
            <div class="row">
                <div class="col s6">
                    <label for="venta">Ventas</label>
                    <input target="target" id="venta" type="text">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-light btn" onclick="guardarComisiones();">Guardar cambios</a>
            <a class="btn modal-close">Cerrar</a>
        </div>
    </div>
    <!-- Fin de modal de comisiones -->
    <!-- Modal de retenciones -->
    <div class="modal modal-fixed-footer" id="modalRetenciones" materialize="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s6">
                    <label for="renta">Renta</label>
                    <input class="target" id="renta" value="0.00" type="text">
                </div>
            </div>
            {% for c in cotizaciones %}
                {% if c.activo == True %}
                    <div class="row">
                        <div class="col s6">
                            <label for="{{ c.nombre }}">{{ c.nombre }}</label>
                            <input class="target" id="{{ c.nombre }}" name="cot" type="text">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal-footer">
            <a class="btn modal-close">Cerrar</a>
        </div>
    </div>
    <!-- Fin de modal de retenciones -->
{% endblock %}
