{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Presupuestos:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Monto Inicial</th>
                <th>Monto Disponible</th>
                <th>Unidad Organizacional</th>
                <th>Periodo</th>
                <th>Gestionar</th>
            </tr>
            </thead>
            <tbody>
            {% for presupuesto in presupuestos %}
                <tr>
                    <td>{{presupuesto.monto_inicial}}</td>
                    <td>{{presupuesto.monto_disponible}}</td>
                    <td>{{presupuesto.unidad_organizacional}}</td>
                    <td>{{presupuesto.planilla_anual.año}}</td>
                    {% if perms.planilla.change_presupuesto%}
                        {% if presupuesto.monto_inicial == presupuesto.monto_disponible %}
                            <td>
                                <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_presupuesto' pk=presupuesto.id %}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                            {% else %}
                            <td>N/A</td>
                        {% endif %}
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{%endblock%}