{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Profesiones:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Nombre de la Profesión</th>
                <th>Gestionar</th>
                <th>¿Activo?</th>
            </tr>
            </thead>
            <tbody>
            {% for profesion in profesiones %}
                <tr>
                    <td>{{profesion.nombre}}</td>
                    {% if perms.planilla.change_profesion%}
                        <td>
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_profesion' pk=profesion.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    {% endif %}
                    {% if perms.planilla.delete_profesion%}
                        {% if profesion.activo %}
                            <td><a class="btn btn-active waves-effect waves-light" onclick="Eliminar{{ profesion.id }}()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not profesion.activo %}
                            <td><a class="btn btn-danger waves-effect waves-light" onclick="Eliminar{{ profesion.id }}()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for profesion in profesiones %}
        <script type="text/javascript">
            function Eliminar{{ profesion.id }}(){
                swal({   title: "¡Se modificará el estado de la profesión: {{ profesion.nombre }}!",
                        text: "¿Está seguro que desea continuar?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, deseo continuar",
                        cancelButtonText: "No, no estoy seguro",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm)
                        {
                            window.location.href = '{% url 'desactivar_profesion' pk=profesion.id %}';
                        }
                        else {
                            swal("Cancelar", "¡Se canceló la operación!", "error");
                        } });
            }
        </script>
    {% endfor %}
{%endblock%}
