{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <h4 class="text-center">Asignar permisos al Rol: {{ rol.name }} </h4>
        <div class="container" style="display: flex; flex-direction: row; justify-content: center; width: 600px">
            <div style="flex: 1 1 auto; text-align: left">
                <h5> Permisos Asignables </h5>
            </div>
            <div style="flex: 1 1 auto; text-align: right">
                <h5> Permisos Asignados </h5>
            </div>
        </div>
            <div class="select-multiple" style="margin-top: 3rem">
                <select id="pre-selected-options" name="pre-selected-options" title="pre-selected-options" multiple='multiple'>
                    {% for permission in has_permission_list %}
                        <option name="{{ permission.id }}" value='{{ permission.id }}' selected>{% trans permission.name %}</option>
                    {% endfor %}
                    {% for permission in has_not_permission_list %}
                        <option name="{{ permission.id }}" value='{{ permission.id }}'>{% trans permission.name %}</option>
                    {% endfor %}
                </select>
                <div class="text-center container" style="margin-top: 3rem">
                    <button class="btn btn-primary"  type="submit" name="action" href="#">Actualizar
                        <i class="material-icons right">autorenew</i>
                    </button>
                    <a class="btn btn-danger waves-effect waves-light" href="{% url 'roles' %}">Cancelar<i class="material-icons right">cancel</i></a>
                </div>
            </div>
    </form>

{%endblock%}
{% block js %}
    <script src="{% static 'planilla/js/jquery.multi-select.js' %}"></script>
    <script  src={% static 'planilla/js/jquery.quicksearch.js' %}></script>
    <script type="text/javascript">
        $('#pre-selected-options').multiSelect({
            selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Buscar Permiso:'>",
            selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Buscar Permiso'>",
            afterInit: function(ms){
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e){
                        if (e.which === 40){
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e){
                        if (e.which == 40){
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function(){
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    </script>
{% endblock %}
