{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iniciar Sesión</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'autenticacion/images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'autenticacion/css/main.css' %}">
    <!--===============================================================================================-->
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'planilla/css/materialize.min.css' %}" media="screen,projection"/>
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url({% static 'planilla/img/fondo_azul.jpg' %})">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{% static 'autenticacion/images/img-01.png' %}" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title">Iniciar Sesión</span>

                <div class="wrap-input100 validate-input" data-validate = "Se requiere nombre de usuario">
                    <div class="input-field col s7 form-group">
                        <i class="material-icons prefix">account_circle</i>
                        <input  id="username" name= "username" type="text" class="validate" required autocomplete="off">
                        <label for="username">Nombre de Usuario</label>
                        <span class="helper-text" data-error="Ingrese su Nombre de Usuario" data-success=""></span>
                    </div>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Se requiere nombre de usuario">
                    <div class="input-field col s7 form-group">
                        <i class="material-icons prefix">lock_outline</i>
                        <input  id="password" name= "password" type="password" class="validate" required autocomplete="new-password">
                        <label for="password">Contraseña</label>
                        <span class="helper-text" data-error="Ingrese su Contraseña" data-success=""></span>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar Sesion
                        <i class="material-icons right">forward</i>
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <a class="txt2" href="{% url 'restablecer-contraseña' %}">
                        ¿Olvidó su contraseña?
                    </a>
                </div>
                <div class="text-center p-t-136">

                </div>
            </form>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'autenticacion/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'autenticacion/vendor/tilt/tilt.jquery.min.js' %}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'autenticacion/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'planilla/js/materialize.min.js' %}"></script>
{% if mensaje %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ mensaje }}', classes: 'rounded'}); })();
    </script>
{% endif %}
</body>
</html>
