{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col s12">
        <h5>Consulta de Roles de Usuarios:</h5>
    </div>
    <div class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id="planilla_table">
            <thead>
            <tr>
                <th>Nombre del Rol</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for rol in roles %}
                <tr>
                    <td>{{rol.name}}</td>
                    <td>
                        {% if perms.auth.change_group %}
                            <a class="btn btn-primary waves-effect waves-light" href="{% url 'actualizar_rol' pk=rol.id %}"><i class="material-icons">edit</i></a>
                        {% endif %}
                        {% if perms.auth.delete_group%}
                            <a class="btn btn-danger waves-effect waves-light" onclick="Eliminar{{ rol.id }}()"><i class="material-icons">delete</i></a>
                        {% endif %}
                        {%if perms.auth.change_group %}
                            <a class="btn btn-view waves-effect waves-light" href="{% url 'asignar_permisos' pk=rol.id %}"><i class="material-icons">autorenew</i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for rol in roles %}
        <script type="text/javascript">
            function Eliminar{{ rol.id }}(){
                swal({   title: "¡Se eliminará el rol de usuario: {{ rol.name }}!",
                        text: "¿Está seguro que desea continuar?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Sí, deseo continuar",
                        cancelButtonText: "No, no estoy seguro",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm)
                        {
                            window.location.href = '{% url 'eliminar_rol' pk=rol.id %}';
                        }
                        else {
                            swal("Cancelar", "¡Se canceló la operación!", "error");
                        } });
            }
        </script>
    {% endfor %}
{%endblock%}
